{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}
<main class="form-signin">
  <div class="d-flex justify-content-center">
    <form method="POST" class="form-signin">
      {{ form.csrf_token }}
      <div class="logo-container">
        <img class="mb-4 mx-auto logo-image1 def" src="{{ url_for('static', filename='image/123.png') }}" alt="">
      </div>
      <form>
        <div class="mb-3 ">
          {{ render_field(form.email, class='form-control my-custom-input fst-italic font-monospace shadow p-3 bg-body-tertiary rounded', placeholder='Email') }}
        </div>
        <div class="mb-3">
          {{ render_field(form.passwd, class='form-control my-custom-input fst-italic font-monospace shadow p-3 bg-body-tertiary rounded', placeholder='Password') }}
        </div>
        <div class="mb-3 d-flex align-items-center">
          {{ render_field(form.remember) }}
        </div>
        {{ render_field(form.submit, class='btn btn-primary') }}
      </form>
    </form>
  </div>
</main>
{% endblock %}

